:root {
    --vjs-bpmn-maybe-drop-color: rgb(200, 200, 200);
    --vjs-bpmn-valid-drop-color: rgb(199, 216, 191);
    --vjs-bpmn-invalid-drop-color: rgba(216, 191, 201, 0.6);
}

.vjs-bpmn {
    display:flex;
    width:100%;
    height:80vh;
    position:relative;
}

.vjs-bpmn-canvas {
    flex-grow: 1;
}

.vjs-bpmn-palette  {
    flex-basis: 80px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e7e7e7;
    padding: 0.25rem;
    height: 100%;
    overflow: auto;
}

.vjs-palette-current-shape-type {
    outline:1px solid dodgerblue;
}

.vjs-bpmn-miniview {
    margin:auto 0.5rem 1.5rem 0.5rem;
    position:relative;
    z-index:50;
    width:auto;
    height: auto;
    flex: 0 0 200px;
}

.vjs-controls {
    position:absolute;
    right:1rem;
    top:1rem;
    z-index:50;
}

.vjs-export-controls {
    position:absolute;
    right:1rem;
    top:4rem;
    z-index:50;
}

.vjs-bpmn .vjs-surface {
    width:100%;
    height:100%;
}

.vjs-bpmn-rhs {
    border-left: 1px solid #e7e7e7;
    background-color: #ffffff;
    display:flex;
    flex-direction: column;
    font-size:0.8rem;
    padding: 0.5rem !important;
    opacity: 0.95;
    flex-basis: 250px;
    overflow:auto;
    height:100%;
}

.vjs-bpmn-inspector {

    display:flex;
    flex-direction: column;
}


.vjs-inspector-section {
    margin:5px;
    display:flex;
    flex-direction:column;
    padding:5px;
    background-color: #dfdfdf78;
    border-radius: 5px;
}



.vjs-bpmn-inspector input[type='text'] {
    width:95%;
    height: 1.5rem;
    margin:5px 0;
}

.vjs-bpmn-inspector label {
    height:1.5rem;
    margin: 0.15rem;
}

/* --------------------- drag and drop -------------------------------------- */

rect:has(+ .vjs-palette-drag-active), .vjs-node.vjs-drag-active g {
    fill:var(--vjs-bpmn-maybe-drop-color);
}

rect:has(+ .vjs-palette-drag-hover), .vjs-node.vjs-drag-hover g {
    fill:var(--vjs-bpmn-valid-drop-color);
}

rect:has(+ .vjs-palette-drag-hover-cannot-drop) {
    fill:var(--vjs-bpmn-invalid-drop-color);
}

.vjs-surface.vjs-palette-drag-active {
    background-color: var(--vjs-bpmn-maybe-drop-color);
}

.vjs-surface.vjs-palette-drag-hover {
    background-color: var(--vjs-bpmn-valid-drop-color);;
}

.vjs-surface.vjs-palette-drag-hover-cannot-drop, .vjs-surface.vjs-drag-hover-cannot-drop {
    background-color: var(--vjs-bpmn-invalid-drop-color);
}

.vjs-bpmn-controls {
    position:absolute;
}
